{{ define "main" }}

    <main aria-role="main">
    <!-- <header class="homepage-header">
        <h1>{{.Title}}</h1>
        {{ with .Params.subtitle }}
        <span class="subtitle">{{.}}</span>
        {{ end }}
    </header> -->
    <div class="homepage-content">
        <!-- Note that the content for index.html, as a sort of list page, will pull from content/_index.md -->
        <!-- {{.Content}} -->

        <div name="body" class="body">
            <div class="container">
                <div name="title" class="row">
                    <div class="col-lg-12">
                        <h1 style="text-align: center;">Legendary Upgrade</h1>
                    </div>
                </div>
                <div class="row">
                    <p class="my-text">Hello</p>
                </div>
            </div>
        </div>
    </div>
    <!-- <div>
        {{ range first 10 .Site.RegularPages }}
            {{ .Render "summary"}}
        {{ end }}
    </div> -->
    </main>
{{ end }}